.page {
  margin: 0 auto;
  color: var(--accent-color);
  font-family: var(--font-family-main);
  font-weight: 400;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  max-inline-size: 700px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wgth" 400;
}

.header {
  margin-block-start: 100px;
  padding: 123px 0 23px 0;
  box-shadow: inset 0px 0px 0px 2px currentColor;
  background-color: var(--background-color);
}

.header__logo {
  display: block;
  margin: 0 auto 20px auto;
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-weight: inherit;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: normal;
  text-transform: uppercase;
  max-inline-size: fit-content;
}

.header__title {
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block-start: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  margin: 0 auto;
  padding-left: 20px;
  inline-size: max-content;
}

.button:focus {
  outline: none;
}

.button_bordered {
  border: 2px solid var(--accent-color);
}

.button_bordered:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.theme-menu__button {
  position: relative;
  display: block;
  padding: 0;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-light);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  transition: opacity 0.4s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  background-color: var(--accent-color);
  transition: scale 0.3s;
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: pointer 0.5s infinite ease-in-out alternate;
  block-size: 14px;
  inline-size: 14px;
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: 100px;
}

.section {
  box-shadow: inset 0px 0px 0px 2px currentColor;
  background-color: var(--background-color);
}

.card__title {
  padding: 5px 10px;
  font-family: inherit;
  font-weight: 785;
  font-size: 18px;
  line-height: normal;
}

.card__gallery {
  position: relative;
  border: 2px solid currentColor;
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 13px;
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-weight: inherit;
  font-size: 14px;
  line-height: normal;
  text-shadow:
    0px 1px 0px var(--text-stroke-color),
    0px -1px 0px var(--text-stroke-color),
    -1px 0px 0px var(--text-stroke-color),
    1px 0px 0px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.card__image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
}

.blur {
  filter: blur(2px);
}

.sepia {
  filter: sepia(1);
}

.brightness {
  filter: brightness(0.5);
}

.opacity {
  filter: opacity(0.6);
}

.grayscale {
  filter: grayscale(1);
}

.hue-rotate {
  filter: hue-rotate(90deg) brightness(0.6);
}

.sepia-mixed {
  filter: sepia(0.1) brightness(1) contrast(1);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.card__content-text {
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.16;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.card__icon-button {
  border: none;
  padding: 0;
  padding-top: 2px;
  background-color: transparent;
  cursor: pointer;
  max-block-size: 38px;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 17px;
  overflow: hidden;
  min-inline-size: 122px;
  max-inline-size: 38px;
}

.card__like-button::before {
  content: "";
	position: absolute;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
	inline-size: 100%;
	block-size: 100%;
  translate: -100%;
}

.card__like-button:hover::before {
  translate: 0%;
}

.button__text {
  position: relative;
  color: var(--blend-text-color);
  font-family: var(--font-family-accent);
  font-weight: inherit;
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.open-dialog-button {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 8px;
  border: 2px solid currentColor;
  padding: 15px 20px;
  overflow: hidden;
  color: var(--accent-color);
  background-color: var(--background-color);
}

.open-dialog-button::before {
  content: "";
	position: absolute;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
	inline-size: 100%;
	block-size: 100%;
  translate: -100%;
}

.open-dialog-button:hover::before {
  translate: 0%;
}

.dialog {
  border: none;
  padding: 30px 38px;
  box-shadow: inset 0px 0px 0px 2px var(--accent-color);
  background-color: var(--background-color);
  max-inline-size: 341px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog__content {
  display: grid;
  gap: 30px;
}

.dialog__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy {
  flex-shrink: 0;
  mix-blend-mode: difference;
}

.dialog__title {
  color: var(--accent-color);
  font-family: var(--font-family-accent);
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.button_close {
  position: relative;
  padding: 9px 17px;
  overflow: hidden;
  color: var(--blend-text-color);
  font-family: var(--font-family-accent);
  font-weight: inherit;
  font-size: 14px;
  line-height: 0.9;
  text-transform: uppercase;
  inline-size: 100%;
  min-block-size: 38px;
}

.button_close::before {
  content: "";
	position: absolute;
	inset: 0;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
	inline-size: 100%;
	block-size: 100%;
  translate: -100%;
}

.button_close:hover::before {
  translate: 0%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
}