:root.theme-light {
	--background-color: #fff;
	--accent-color: #000;
	--repeating-gradient: #d3d3d3;
	--heart-contour: #000;
	--heart-fill: #FF0000;
	--blend-text-color: #fff;
	--heart-fill-hover: #000;
	--text-stroke-color: #fff;
	--linear-gradient: #e7e7e7 0.01%, #1a1a1a;
}

:root.theme-dark {
	--background-color: #000;
	--accent-color: #00CC14;
	--font-weight-bold: 785;
	--repeating-gradient: #000;
	--heart-contour: #00CC14;
	--heart-fill: #FF0000;
	--blend-text-color: #00CC14;
	--heart-fill-hover: #00CC14;
	--text-stroke-color: #000;
	--linear-gradient: #007f0c 0.01%, #004306;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000;
		--accent-color: #00CC14;
		--font-weight-bold: 785;
		--repeating-gradient: #000;
		--heart-contour: #00CC14;
		--heart-fill: #FF0000;
		--blend-text-color: #00CC14;
		--heart-fill-hover: #00CC14;
		--text-stroke-color: #000;
		--linear-gradient: #007f0c 0.01%, #004306;
	}
}